[alias]
	lab = repo lab
	hub = repo hub
[user]
	email = oneloopone@gmail.com
	name = Fahad Hossain
[filter "gitignore"]
	clean = "sed -r '/(\\/\\/.?|#.?)gitignore$/d'"
	smudge = cat
[include]
	path = /home/fahad/.gitconfig-repos
[push]
	default = "current"
