[*]
root = true
end_of_line = lf
tab_width = 4
indent_size = 4
indent_style = space
charset = utf-8

[*.{md,js,ts,lua,jsx,tsx,conf,yaml,yml,toml,yaml.*,yml.*}]
indent_size = 2
tab_width = 2

[*{Makefile,.go,gitconfig}]
indent_style = tab
