.config/mpv/scripts/dbus.lua
.config/mpv/scripts/ldbus
.config/mpv/scripts/ldbus.so
.config/mpv/scripts/lua-dbus
.config/mpv/scripts/mpris
.hidden
.ncmpcpp/error.log
.mpd/mpd.log
.mpd/mpd.pid
.mpd/state
.mpd/database
.irssi/away.log
