.CLion12/
.ICEauthority
.MePV/
.PlayOnLinux/
.Skype/
.ViberPC/
.WebIde100/
.Xauthority
.android/
.apport-ignore.xml
.apps/
.aptitude/
.atom/
.azureus/
.babel.json
.bash_history
.bash_logout
.bashrc
.bin/.vscode/
.cache/
.candidate-selections.json
.codeblocks/
.codelite/
.coffee_history
.colordiffrc
.config/Atom/
.config/terminology/
.config/Butter/
.config/Code/
.config/Empathy/
.config/FeePerfect/
.config/Genymobile/
.config/Kaku/
.config/Kingsoft/
.config/MonoDevelop-5.0/
.config/MonoDevelop/
.config/MusicBrainz/
.config/Name My TV Series/
.config/NuGet/
.config/Pinegrow Web Designer/
.config/Pingendo/
.config/Popcorn-Time/
.config/Prepros/
.config/QtProject.conf
.config/QtProject/
.config/Skype/
.config/Slack/
.config/SubDownloader/
.config/Trolltech.conf
.config/VirtualBox/
.config/anjuta/
.config/audacious/
.config/autostart/
.config/bakamplayer.ini
.config/baloofilerc
.config/beets/
.config/bleachbit/
.config/bluedevilglobalrc
.config/chromium/
.config/configstore/
.config/dconf/
.config/deluge/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/drkonqirc
.config/elegance-colors/
.config/emaildefaults
.config/enchant/
.config/eog/
.config/evolution/
.config/fontconfig/
.config/gedit/
.config/gigolo/
.config/gnome-control-center/
.config/gnome-mpv/
.config/goa-1.0/
.config/google-chrome/
.config/google-googletalkplugin/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtkrc
.config/gtkrc-2.0
.config/hexchat/
.config/hub
.config/ibus/
.config/inkscape/
.config/kactivitymanagerdrc
.config/kcmfonts
.config/kcminputrc
.config/kcmshell5rc
.config/kconf_updaterc
.config/kde.org/
.config/kdebugrc
.config/kded5rc
.config/kded_device_automounterrc
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kick-off-koa/
.config/kingsoft/
.config/kio_desktoprc
.config/kmenueditrc
.config/kmixrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/libaccounts-glib/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/mopidy/
.config/mps-youtube/
.config/mps/
.config/mpv/recentfile.log
.config/nautilus/
.config/pavucontrol.ini
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/qBittorrent/
.config/qterminal.org/
.config/robomongo/
.config/session/
.config/software-center/
.config/spotify/
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/stetic/
.config/stremio/
.config/sublime-text-3/
.config/subliminal/
.config/systemsettingsrc
.config/teamviewer/
.config/terminator/
.config/totem/
.config/touchpadrc
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi-snapshot/
.config/vivaldi/
.config/vlc/
.config/workshopper/
.config/xbuild/
.config/xylosper/
.config/yakyak/
.config/yelp/
.conkycolors/
.config/mpv/scripts/dbus.lua
.config/mpv/scripts/ldbus
.config/mpv/scripts/ldbus.so
.config/mpv/scripts/lua-dbus
.config/mpv/scripts/mpris
.conkyrc
.dbshell
.dbus/
.elementary/
.fontconfig/
.fonts/
.gconf/
.gem/
.gimp-2.8/
.gitconfig
.gitlab.token
.gksu.lock
.gnash/
.gnashrc
.gnome/
.gnome2/
.gnupg/
.grip/
.gstreamer-0.10/
.gtkrc-2.0
.gtkrc-2.0-kde4
.hidden
.i2p/
.java/
.kde/
.kingsoft/
.kodi/
.lastpass/
.lesshst
.local/
.localgit/
.luarocks/
.lyrics/
.macromedia/
.meteor/
.meteorsession
.mime.types
.mongorc.js
.mozilla/
.mpd/
.mplayer/
.my.cnf
.mysql_history
.ncmpcpp/error.log
.node-gyp/
.node_repl_history
.npm-global/
.npm/
.npmrc
.nuget/
.openoffice/
.openshift/
.openshot/
.pam_environment
.pip/
.pki/
.profile
.purple/
.pylint-gui-history
.pylint.d/
.pyrenamer/
.python-eggs/
.python_history
.recently-used
.ssh/
.ssr/
.strapipass
.strapirc
.sudo_as_admin_successful
.synaptic/
.themes/
.thumbnails/
.tmux.conf
.torrenttunes-client/
.urserver/
.v8flags.4.6.85.31.fahad.json
.vimbackup/
.viminfo
.vim/bundle
.vimrc.before
.vimswap/
.vimundo/
.vimviews/
.vscode/
.wine-photoshop/
.wine/
.xinitrc
.xinputrc
.xsel.log
.ympd/
.yo-rc-global.json
.zcompcache/
.zcompdump
.zcompdump-olympus-5.1.1
.zcompdump.zwc
.zhistory
.zsh-update
Desktop/
Documents/
Downloads/
Music/
Pictures/
PlayOnLinux's virtual drives
Public/
Templates/
Videos/
audio_policy.conf.bak
build/
grive/
myzshrc
.TelegramDesktop
.config/htop
.elm
.config/nvim
.config/marlin/
.config/midori/
.config/plank/
.dmrc
.xsession-errors
.xsession-errors.old
.wget-hsts
.config/puddletag
