.config/mpv/scripts/dbus.lua
.config/mpv/scripts/ldbus
.config/mpv/scripts/ldbus.so
.config/mpv/scripts/lua-dbus
.config/mpv/scripts/mpris
.hidden
.ncmpcpp/error.log
.mpd/mpd.log
.mpd/mpd.pid
.mpd/state
.mpd/database
.irssi/away.log
config/sublime-text-3/Cache
config/sublime-text-3/Backup
config/sublime-text-3/Index
config/sublime-text-3/Installed Packages/*.sublime-package
config/sublime-text-3/Packages
config/sublime-text-3/Local/Session.sublime_session
mpd/state
mpd/mpd.log
mpd/mpd.pid
mpd/sticker.sql
