.type.storage,.type.storage.declaration, .storage.class.modifier {
  font-family: 'Operator Mono Book';
}

.type.storage.arrow.function {
  font-family: 'Fira Code'
}

.token.keyword.operator {
  font-family: 'Fira Code'
}

.decorator.name, .decorator.punctuation:not(.block), .import.keyword {
  font-family: 'Operator Mono Book';
}

.attribute-name {
  font-family: 'Operator Mono Book';
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.variable.function {
  color: rgba(249, 145, 87, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.variable.other.class.js {
  color: #d8dee9 !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.string {
  color: rgba(153, 199, 148, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.punctuation.section.embedded {
  color: rgba(249, 145, 87, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.support.class {
  color: rgba(249, 145, 87, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.meta.function-call {
  color: rgba(102, 153, 204, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.variable.function {
  color: rgba(249, 145, 87, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.entity.name.tag {
  color: rgba(235, 96, 107, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.variable.other.class.js.variable.function {
  color: rgba(249, 145, 87, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.entity.name.method.js {
  color: rgba(102, 153, 204, 1) !important;
}

.monaco-editor.vs-dark.SintrumIT-theme-oceanic-next-italic-themes-Oceanic-Next-Italic-tmTheme .token.storage.type {
    color: rgba(197, 148, 197, 1) !important;
}
/*token js meta group braces curly function entity name function-call with-arguments class body method round tag jsx embedded expression source*/
