Backups/
Cookies
Cookies-journal
GPUCache/
Local Storage/
Network Persistent State
Workspaces/
blob_storage/
logs/
machineid
rapid_render.json
webrtc_event_logs/
User/globalStorage/
User/workspaceStorage/
1.17.1-shared.sock
1.17.2-shared.sock
